.dashboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    height: 660px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top-right-logo {
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 280px;
    margin-bottom: 20px;
    background: transparent url('D:\Greendzine_assesment\greens\src\assets\Group 46.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
  }
  
  .notification-badge-logo {
    top: 104px;
    left: 572px;
    width: 71px;
    height: 70px;
    margin-bottom: 20px;
    background: transparent url('D:\Greendzine_assesment\greens\src\assets\moptro logo.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    margin-bottom: 30px;
  }
  
  .badge {
    position: relative;
    top: -17px;
    right: -60px;
    padding: 3px 9px;
    border-radius: 100%;
    background: #2a2929b5;
    color: green;
  }
  
 

  .productivity-stat-item {
    margin: 10px;
    color: rgb(255, 255, 255);
  }
  
  .png-style {
    width: 28px;
    height: 28px;
    background: transparent url('D:\Greendzine_assesment\greens\src\assets\moptro logo.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  
  .split {
    height: 40px;
    width: 30%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 111px;
  }
  
  .right {
    right: 111px;

  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 30px;
  }
  

  .employee-boxes{
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .emp-list-container {
    padding: 20px;
    text-align: center;
  }
  
  .employee-box {
    border: 1px solid #464242;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    letter-spacing: 1%;
  }

  .employee-boxes-container {
    max-height: 300px; 
    max-width: 280px;
    overflow-y: auto; 
  }

  
  
  input {
    padding: 5px;
    margin-right: 10px;
    color: #1A2C2C99;
  }
  
    
  .search {
    border: 1px solid rgb(133, 130, 130);
    border-radius: 80px;
    height: 50px;
    width: 89%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background: #00000082 0% 0% no-repeat padding-box;
    color: #f5f1f1;
  }
 

  .dob{
    color: orange;
  }

  .role{
    color: green;
  }

  .id,
  .name{
    color: rgb(213, 207, 207);
  }

  p{
    color: #676363;
  }
  
  .search-container {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  *::-webkit-scrollbar {
    width: 0px;
  }
  
  
  
  @media only screen and (max-width: 600px) {
    .dashboard-container {
      width: 90%;
    }

    .left{
        left: 50px;

    }

    .right{
        right: 50px;

    }
  
    .top-right-logo {
      margin-left: 10;
    }
  
    .notification-badge-logo {
      left: auto;
      right: 0;
      margin-bottom: 10px;
    }
  
    .dashboard-rectangle {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }
  
    .dashboard-text {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  
    .productivity-stats-rectangle {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
    }
  }
  