.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 90px;
    height: 90px;
    background: transparent url('D:\Greendzine_assesment\greens\src\assets\Group 3.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    margin: 20px;
  }
  
  .text-box {
    margin: 10px 0;
    width: 238px;
    height: 42px;
    border-radius: 1rem;
    border: none;
    background: #1F191966 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
    mix-blend-mode: normal;
    opacity: 1;
    color: #FFFFFF8C;
  }
  
  .login-button {
    margin-top: 20px;
    width: 238px;
    height: 42px;
    background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 2px solid #8CFF0026;
    border-radius: 1rem;
    border: none;
    opacity: 1;
    color: #FFFFFF8C;
  }
  
  .forgot-password-text {
    margin-top: 20px;
    width: 143px;
    height: 19px;
    text-align: center;
    font: normal normal normal 15px/20px Mulish;
    letter-spacing: 0.02px;
    color: #36A546;
    opacity: 1;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .line {
    font: normal normal normal 16px/21px Mulish;
    letter-spacing: 0.02px;
    color: #1a4521cc;
    opacity: 1;
  }
  a{
    text-decoration: none;
  }
  
 
  @media (max-width: 768px) {
    .login-container {
      width: 80%;
    }
    
    .text-box,
    .login-button {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .login-container {
      width: 90%;
    }
  }
  